.holePage{
    margin: 0px;
    background-color: #427E80;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 40px;
    height: 84px;
}
.menuNav{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.listItem{
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
}
header{
    background-image: url(../VIdeosImagenes/codigo.jpeg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    color: #eeeeee;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    
}

.mainTitle{
    text-align: center;
    background-color: #2D2D2D;
    text-shadow: 5px 5px orangered;
}

.mainHistoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    gap: 20px;
}

h2{
    text-shadow: 2px 2px #154454;
    font-size: 30px;
    text-align: center;
}

.text{
   width: 40%;
   color: black;
}

.padreVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0px
}
.video1{
    height: 400px;

}
 button{
    height: 40px;
    width: 40px;
 }

.barra{
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    /*opacity: 0;*/
}

/*.barra:hover{
    opacity: 1;
    transition: 1s;
}*/
 

footer{
    background-color: #1d1d1d;
    display: flex;
    gap: 40%;
    height: 80px;
    
}
.pFooter{
    color: #F0F5E4;
}