.holePage{
    margin: 0px;
    background-color: #427E80;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 40px;
    height: 84px;
}
.menuNav{
    display: flex;
    width: 300px;
    justify-content: space-around;

}


.listItem:active{
    transform: translate(3px, 2px);
}
.listItem:active > .itemLink{
    box-shadow:0px 0px ;
}





.listItem{
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
}
header{
    background-image: url(../VIdeosImagenes/codigo.jpeg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    color: #eeeeee;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    
}

.mainTitle{
    text-align: center;
    background-color: #2D2D2D;
    text-shadow: 5px 5px orangered;
}

 h2{
    text-align: center;
    font-size: 30px
 }
 .mainJuego{
    display: flex;
    justify-content: center;
    
 }

 #box1{
    width: 275px;
    height: 400px;
    display: inline-block;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
 }

 #box2{
    width: 275px;
    height: 400px;
    display: inline-block;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
 }

 #box3{
    width: 275px;
    height: 400px;
    display: inline-block;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
 }

 .arrastre{
    margin-top: 60%;
    
 }

 section{
    display: flex;
    justify-content: center;
 }

img{
    width: 275px;
    height: 400px;
   
}

button{
    
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    margin-top: 15px;
    margin-left: 50%;
}

section{
    margin-right: 3px;
    margin-top: 20px;
    
}

.bottonReinicio:active{
    transform: translate(3px, 2px);
}
.bottonReinicio:active > .hijoBotonReinicio{
    box-shadow:0px 0px ;
}
