.holePage{
    margin: 0px;
    background-color: #427E80;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 40px;
    height: 84px;
}

.listItem:active{
    transform: translate(3px, 2px);
}
.listItem:active > .itemLink{
    box-shadow:0px 0px ;
}



#svg1{
    
    animation-duration: 4s ;
    animation-iteration-count: 1;
    animation-name: svgMover

}




#svg1:hover {
    transition: transform 3s;
    
}

.polygonos{
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-name: svgPolygonos;
}

.polygonos:hover{
    animation-name: svgPolygonos;
}

@keyframes svgPolygonos{
    30%{
        transform: translateY(-15px);
        
        
    }
    60%{ transform: translateY(-30px);
        opacity: 30%;
    }
    90%{ transform: translateY(-60px);
        opacity: 60%;
    }
    100%{ transform: translateY(-200px); }

}

.rectangulos{
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: svgRectangulos;
}

.rectangulos:hover{
    animation-name: svgRectangulos ;
}
   

@keyframes svgRectangulos{
        30%{
            transform: translateY(-15px);
            
            
        }
        60%{ transform: translateY(-30px);
            opacity: 30%;
        }
        90%{ transform: translateY(-60px);
            opacity: 60%;
        }
        100%{ transform: translateY(-200px); }
}     





.menuNav{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.listItem{
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
}
header{
    background-image: url(../VIdeosImagenes/codigo.jpeg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
    color: #eeeeee;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    
}

.mainTitle{
    text-align: center;
    background-color: #2D2D2D;
    text-shadow: 5px 5px orangered;
}
h2{
    text-align: center;
    text-shadow:4px 4px black;
    font-size: 50px;
    height: 46px;
}
main{
    padding: 100px 20px;
    display: flex;
    width: 100%;
}
.mainConteiner{
    margin: 100px 0px;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.card{
        border: 5px solid #154454;
        background-color: #F0F5E4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}

.pLink{
    font-size: xx-large;
    text-decoration: none;
}
 .img-class{
    width: 100%;
    
 }

 p{
    color: black;
    text-align: center;
 }
 button{
    padding: 20px;
    border-radius: 15px;
    background-color: #427E80;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #154454;
    text-align: center;
    text-decoration: none;
    width: 60%;
    margin-bottom: 20px;
    border: none;
}
footer{
    background-color: #1d1d1d;
    display: flex;
    gap: 40%;
    height: 80px;
    
}
.pFooter{
    color: #F0F5E4;
}
